<div class="panel">
  <div class="heading">
    <h2 [ngClass]="{'heading-title': this.darkmodeService.loadDarkMode()=='false', 'heading-title-dark': this.darkmodeService.loadDarkMode()=='true'}">Edit Sub Sunday</h2>
  </div>

  <div *ngIf="!validateService.validateNumber(subsunday.number)" class="alert alert-danger">
    Please insert a valid number.
  </div>
  <div *ngIf="!validateService.validateDate(date)" class="alert alert-danger">
    Please insert a valid date.
  </div>
  <div *ngIf="games!=undefined && !validateService.validateArray(games)" class="alert alert-danger">
    Please insert at least one game.
  </div>

  <div class="content">
    <form (submit)="updateSubsunday()">
      <div class="form-group">
        <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">Number</label>
        <input type="text" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true', 'is-invalid': !validateService.validateNumber(subsunday.number)}" [(ngModel)]="subsunday.number" placeholder="Number" name="number" disabled>

        <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">Votes</label>
        <input type="text" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="subsunday.votes" placeholder="Votes" name="votes">

        <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">VOD Url</label>
        <input type="text" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="subsunday.vodurl" placeholder="VOD URL" name="vodurl">

        <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">Date</label>
        <input type="text" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true', 'is-invalid': !validateService.validateDate(date)}" [(ngModel)]="date" placeholder="Date (DD-MM-YYYY)" name="date">
      
        <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">Info Message</label>
        <input type="text" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="subsunday.message" placeholder="e.g. 'VOD has been deleted.'" name="message">
      </div>

      <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">Games</label>
      <table [ngClass]="{'table-default': this.darkmodeService.loadDarkMode()=='false', 'table-dark': this.darkmodeService.loadDarkMode()=='true'}">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th>Buy Url</th>
            <th>Thought</th>
            <th>VOD Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games; let i = index">
            <td>{{i + 1}}</td>
            <td>{{game.name}}</td>
            <td><img src="{{game.image}}" width="160" height="90"></td>
            <td><a [ngClass]="{'a-default': this.darkmodeService.loadDarkMode()=='false', 'a-dark': this.darkmodeService.loadDarkMode()=='true'}" href="{{game.buyurl}}" target="_blank">Link</a></td>
            <td>{{game.tought}}</td>
            <td>{{game.vodtime}}</td>
            <td>
              <input *ngIf="i!=0" type="button" (click)="moveGameUp(i)" value="UP" class="btn btn-sm btn-primary">
              <input *ngIf="i!=games.length-1" type="button" (click)="moveGameDown(i)" value="DOWN" class="btn btn-sm btn-primary">
              <input type="button" (click)="deleteGame(i)" value="Delete" class="btn btn-sm btn-danger">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-sm">
        <form (submit)="addGame()">
          <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">Select Game</label>
          <select [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="selectedGame" (ngModelChange)="onListChange()" name="game">
            <option *ngFor="let game of gameList" [ngValue]="game">{{game.name}}</option>
          </select>

          <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">Thought</label>
          <select [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="curGame.tought" name="tought">
            <option>BEST</option>
            <option>GOOD</option>
            <option>OK</option>
            <option>BAD</option>
          </select>

          <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">VOD Time</label>
          <input type="text" class="col-sm" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="curTimeH" name="vodtimeh" placeholder="Hours">
          <input type="text" class="col-sm" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="curTimeM" name="vodtimem" placeholder="Minutes">
          <input type="text" class="col-sm" [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="curTimeS" name="vodtimes" placeholder="Seconds">

          <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">
            <input class="form-check-input" type="checkbox" [checked]="hasDiffVod" (change)="hasDiffVod = !hasDiffVod">Different VOD?
          </label>

          <div *ngIf="hasDiffVod">
            <label [ngClass]="{'span-default': this.darkmodeService.loadDarkMode()=='false', 'span-dark': this.darkmodeService.loadDarkMode()=='true'}">VOD Url</label>
            <input [ngClass]="{'form-control': this.darkmodeService.loadDarkMode()=='false', 'form-control-dark': this.darkmodeService.loadDarkMode()=='true'}" [(ngModel)]="curGame.vodurl" name="game_vodurl" placeholder="VOD Url">
          </div>

          <button class="btn btn-info" type="submit">Add Game</button>
        </form>
      </div>
      <br>
      <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
  </div>
</div>